[submodule "vendor/go.etcd.io/etcd"]
	path = vendor/go.etcd.io/etcd
	url = https://github.com/etcd-io/etcd
[submodule "vendor/go.etcd.io/bbolt"]
	path = vendor/go.etcd.io/bbolt
	url = https://github.com/etcd-io/bbolt
[submodule "vendor/go.uber.org/zap"]
	path = vendor/go.uber.org/zap
	url = https://github.com/uber-go/zap
[submodule "vendor/github.com/dgraph-io/badger"]
	path = vendor/github.com/dgraph-io/badger
	url = https://github.com/dgraph-io/badger
